*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    padding: 20px;
  }
  
  button {
    background-color: orangered;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: orange;
  }
  
  .palette {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .color-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
  }
  
  .color-box .hex-code {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    font-size: 12px;
  }
  